**/target/
**/node_modules/
**/.svelte-kit/
**/build/
**/dev-dist/
**/.env
**/.env.*
!**/.env.example
**/database.db
**/*.db
**/*.db-journal
**/*.db-wal
**/*.db-shm
.git/
.github/
.claude/
todo.txt
wait.sh
frontend/
